.config-wrap-box {
    position: absolute;
    top: 67px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.config-wrap-box .config-box {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
}

.config-wrap-box .config-box .configitembox {
    width: 20%;
    height: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.config-wrap-box .config-box .fieldbox {
    width: 40%;
}

.config-wrap-box .config-box .textbox textarea {
    height: 100% !important;
}

.config-wrap-box .config-box .tablelist,
.config-wrap-box .config-box .fieldlist {
    height: 48%;
    padding: 15px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.config-wrap-box .config-box .line {
    margin: 3% 0;
}

.config-wrap-box .addbtn,
.config-wrap-box .removebtn {
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    transition: color .2s;
    border-bottom: 1px #eaeff0 solid;
}
.addConfig {
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    transition: color .2s;
    border-bottom: 1px #eaeff0 solid;
}

.config-wrap-box .addbtn:hover,
.config-wrap-box .removebtn:hover
 {
    color: #19a9d5;
}
.addConfig:hover{
    color: #19a9d5;
}

.config-wrap-box .addbtn i {
    font-size: 24px;
    margin-right: 10px;
    color: #27c24c;
    position: relative;
    top: 3px;
}
 .addConfig i {
    font-size: 24px;
    margin-right: 10px;
    color: #27c24c;
    position: relative;
    top: 3px;
}
.config-wrap-box .removebtn i {
    margin-right: 10px;
    font-size: 20px;
    color: #27c24c;
    position: relative;
    top: 2px;
}

.config-wrap-box .input-group-addon:hover {
    color: #19a9d5;
}

.config-wrap-box .input-group-addon {
    transition: color .2s;
    cursor: pointer;
}

.config-wrap-box .input-group-addon i {
    color: #27c24c;
}

@media (max-width: 767px) {
    .config-wrap-box {
        width: 100%;
        position: static;
        overflow: hidden;
    }
    .config-wrap-box .panel-body {
        overflow-x: auto;
    }
    .config-wrap-box input,
    .config-wrap-box select {
        min-width: 100px;
    }
}