<script type="text/ng-template" id="configEditModal.html">
    <div class="modal-header">
        <h3 class="modal-title">服务</h3>
    </div>
    <div class="modal-body">
        <form class="bs-example form-horizontal ng-pristine ng-valid">
            <div class="form-group">
                <label class="col-sm-2 control-label">配置名称</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="value" placeholder="请输入配置名称">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button class="btn btn-info ladda-button" ng-click="ok($event)">
            <span class="ladda-label">确定</span>
            <span class="ladda-spinner"><i class="fa fa-spin fa-spinner"></i></span>
        </button>
    </div>
</script>
<div class="hbox hbox-auto-xs navbox" ng-init="app.settings.full = true;">
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <h1 class="m-n font-thin h3">配置管理</h1>
    </div>
    <div class="config-wrap-box">
        <div class="config-box wrapper">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">服务列表</div>
                <div class="panel-body">
                    <select class="form-control m-b" ng-model="currentService" ng-change="serviceClick()" ng-options="item.serviceDescription for item in service"></select>
                </div>
                <div class="modal-footer ng-scope">
                    <button class="btn btn-success ladda-button" ng-click="addTable($event)">
                        <span class="ladda-label">添加配置</span>
                        <span class="ladda-spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>
                    </button>
                    <button class="btn btn-success ladda-button" ng-click="editTable($event)">
                        <span class="ladda-label">修改当前配置</span>
                        <span class="ladda-spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>
                    </button>
                    <button class="btn btn-danger ladda-button" ng-click="removeTable($event)">
                        <span class="ladda-label">删除当前配置</span>
                        <span class="ladda-spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>
                    </button>
                    <button class="btn btn-info ladda-button" ng-click="save($event)">
                        <span class="ladda-label">保存修改</span>
                        <span class="ladda-spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="panel panel-default m-t" ng-if="currentRule">
                <div class="panel-heading font-bold">配置列表</div>
                <div class="panel-body">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th ng-repeat="(key, value) in currentRule[0]">{{key}}</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer ng-scope">
                    <button class="btn pull-right btn-info ladda-button" ng-click="save($event)">
                        <span class="ladda-label">保存修改</span>
                        <span class="ladda-spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>