<!-- hbox layout -->
<script type="text/ng-template" id="reportAdminCreateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">管理员添加</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">管理员手机号</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="value.phone" placeholder="">
                    <input type="hidden" class="form-control" ng-model="value.timediff" ng-init="value.timediff = 1000 * 60 * 60 * 24" placeholder="">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
        <button class="btn btn-info ladda-button" ng-click="ok($event)">
            <span class="ladda-label">确定</span>
            <span class="ladda-spinner"><i class="fa fa-spin fa-spinner"></i></span>
        </button>
    </div>
</script>
<div class="hbox hbox-auto-xs bg-light wrapper" ng-init="app.settings.full = true;">
    <div class="bg-light r b m-b overflow-h wrapper-sm">
        <p class="pull-left">当前短信服务运行状态:
            <span class="text-{{messageColor}}">{{messageText}}</span>
        </p>
        <button class="btn btn-sm btn-info pull-right m-l" ng-click="start()">开启服务</button>
        <button class="btn btn-sm btn-danger pull-right" ng-click="stop()">关闭服务</button>
    </div>
    <!-- <select-table editable="true" multiple="true" interface="reportAdmin" title="举报管理员列表" control="tableControl" list="list" create-modal="" select-par="par"></select-table> -->
    <select-table editable="true" multiple="true" interface="reportAdmin" title="举报管理员列表" control="tableControl" list="list"
        create-modal="reportAdminCreateModal.html" select-par="par"></select-table>
</div>
<!-- /hbox layout -->