
<script type="text/ng-template" id="serviceCreate.html">
    <div class="modal-header">
        <h3 class="modal-title">服务</h3>
    </div>
    <div class="modal-body">
        <form class="bs-example form-horizontal ng-pristine ng-valid">
            <div class="form-group">
                <label class="col-sm-2 control-label">url</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="value.url" placeholder="请输入URL">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">服务描述</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="value.serviceDescription" placeholder="请输入服务描述">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">服务描述</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="value.serviceName" placeholder="请输入服务名称">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">服务状态</label>
                <div class="col-sm-9">
                    <select class="form-control" ng-model="value.state">
                        <option value="0">0</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button class="btn btn-info ladda-button" ng-click="ok($event)">
            <span class="ladda-label">确定</span>
            <span class="ladda-spinner"><i class="fa fa-spin fa-spinner"></i></span>
        </button>
    </div>
</script>
<div class="hbox hbox-auto-xs bg-light pos-rlt" style="overflow:hidden;" ng-init="app.settings.full = true;">
    <div class="bg-light lter b-b wrapper-md" ng-init="app.settings.asideFolded = true;">
        <h1 class="m-n font-thin h3">服务列表</h1>
    </div>
    <div class="wrapper">
        <select-table multiple="true" editable="true" interface="service" title="服务列表" create-modal="serviceCreate.html" control="tableControl"></select-table>
    </div>
</div>
